/* your styles go here */

.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

.logo_text {
    font-size: 40px; /* Adjust as needed */
    font-family: 'Brush Script MT', cursive; /* Your desired cursive font */
    font-weight: bold;
    margin: 0; /* Remove default margin */
}